// Libraries import
@import "font-awesome-sprockets";
@import "bootstrap-sprockets";
@import "font-awesome";
@import "bootstrap";

// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";

// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: black;
  background-color: white;
}

/* video*/

#myVideo {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-height: 30%;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Add some content at the bottom of the video/page */
.content {
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}





.red {
  color: $red;
}

.blue {
  color: $blue;
}

.yellow {
  color: $yellow;
}

.orange {
  color: $orange;
}

.green {
  color: $green;
}

.purple {
  color: $purple;
}

.pink {
  color: $pink;
}

.gris {
  color: $gris;
}

$red: #EE5F5B;
$blue: #A6D7F9;
$yellow: #FDB631;
$orange: #F9D6A6;
$green: #A6D5A6;
$purple: #6452BD;
$pink: #D6AEC1;
$gris: #A0AEB1;





.slide1 {
  background-image: url("../images/night1.jpg");
  min-height: 100%;
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide1 h3 {
  margin-top: 0px;
  padding-top: 10px;
  color: white;
}


.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5{
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../images/ouverture.jpeg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../images/word.jpg");
  min-height: 100%;
}

.bgimg-3 {
  background-image: url("../images/thecamp1.jpg");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("../images/night2.jpg");
  min-height: 100%;
}

.bgimg-5 {
  background-image: url("../images/mont.jpg");
  min-height: 100%;
  opacity: 1;

}

.bg {
    /* The image used */
    background-image: url("../images/slide3.png");

    /* Full height */
    height: 80%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg1 {
    /* The image used */
    background-image: url("../images/slide5.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2 {
    /* The image used */
    background-image: url("../images/slide6.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg3 {
    /* The image used */
    background-image: url("../images/slide7.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg4 {
    /* The image used */
    background-image: url("../images/slide8.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg5 {
    /* The image used */
    background-image: url("../images/slide9.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg6 {
    /* The image used */
    background-image: url("../images/slide10.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg7 {
    /* The image used */
    background-image: url("../images/slide11.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  margin-top: 0px;
  padding-top: 10px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: black;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3,.bgimg-4{
        background-attachment: scroll;
    }
}



.navlinks div {
      position: relative;
    }
    .navlinks div::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      display: block;
      content: '';
      width: 0;
      height: 0;
      background: rgba(255,255,255,.2);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
    }
    .navlinks div:hover::before {
      -webkit-animation: circle .75s;
      animation: circle .75s;
    }
    @-webkit-keyframes circle {
      0% {
        opacity: 1;
      }
      40% {
        opacity: 1;
      }
      100% {
        width: 120%;
        height: 120%;
        opacity: 0;
      }
    }
    @keyframes circle {
      0% {
        opacity: 1;
      }
      40% {
        opacity: 1;
      }
      100% {
        width: 120%;
        height: 120%;
        opacity: 0;
      }
    }




a:hover, a:focus {
  color: #2a6496;
  text-decoration: none;
}
.square-service-block{
  position:relative;
  overflow:hidden;
  margin:15px auto;
  height: 250px;
  }
.square-service-block a {
  border-radius: 5px;
  display: block;
  padding: 60px 20px;
  text-align: center;
  width: 100%;
}
.square-service-block a:hover{
  background-color: rgba(231, 76, 60, 0.8);
  border-radius: 5px;
  height: 250px;
}

.ssb-icon {
  color: #fff;
  display: inline-block;
  font-size: 28px;
  margin: 0 0 20px;
}

h2.ssb-title {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  margin:0;
  padding:0;
  text-transform: uppercase;
}





