/* How to override the default Bootstrap colors */

.btn-primary {
  background-color: #16a085;
  border-color: white;
}

.btn-primary:hover {
  background-color: #16a085;
  border-color: #16a085;
}

/* How to override the default Bootstrap navbar */

.navbar-transparent {
  background-color: transparent;
}

s
.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus,
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: transparent;
}

.navbar {
  border:0px;
}
