---
title: Valerie présentation
---


<div class="bgimg-1">
  <div class="caption">
    <span class="border">thecamp - Valérie Gauthier</span>
    <h1>Histoire d’une rencontre</h1>
  </div>
</div>



<h3 style="text-align:center;">Mes drivers : le mouvement et l'humain</h3>



<div class="container" id="drivers">
       <div class="row">


          <div class="col-md-4">
            <div class="square-service-block bg-green">
               <a href="#">
                 <div class="ssb-icon"><i class="fa fa-paint-brush" aria-hidden="true"></i></div>
                 <h2 class="ssb-title">RASSEMBLER CE QUI S'OPPOSE</h2>
               </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="square-service-block bg-orange">
               <a href="#">
                 <div class="ssb-icon"> <i class="fa fa-globe" aria-hidden="true"></i> </div>
                 <h2 class="ssb-title">INVENTER CE QUI N'EXISTE PAS</h2>
               </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="square-service-block bg-blue">
               <a class="navlinks" href="#">
                 <div class="ssb-icon"><i class="fa fa-camera" aria-hidden="true"></i></div>
                 <h2 class="ssb-title">FEDERER CE QUI FREINE</h2>
               </a>
            </div>
          </div>
          </div>

<video autoplay muted loop id="myVideo">
 <source src="video/Oculus.mp4" type="video/mp4">
</video>




          <div class="row">

          <div class="col-md-4">
            <div class="square-service-block bg-pink">
               <a href="#">
                 <div class="ssb-icon"><i class="fa fa-font" aria-hidden="true"></i></div>
                 <h2 class="ssb-title">INSPIRER CE QUI DESESPERE</h2>
               </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="square-service-block bg-orange">
               <a href="#">
                 <div class="ssb-icon"><i class="fa fa-cubes" aria-hidden="true"></i></div>
                 <h2 class="ssb-title">FABRIQUER CE QUI NE SE VOIT PAS</h2>
               </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="square-service-block bg-gris">
               <a href="#">
                 <div class="ssb-icon"><i class="fa fa-volume-up" aria-hidden="true"></i> </div>
                 <h2 class="ssb-title">TOUCHER, SENTIR, ECOUTER, GOUTER, VOIR ET FACONNER CE QUE SERA DEMAIN</h2>
               </a>
            </div>
          </div>

        </div>


      </div>



<!-- Slide 3 -->


<div class="bgimg-2">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: black;">Mes caracteristiques</span>
  </div>
</div>






<div class="bg">
</div>







<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">Six actions prioritaires pour garder une longueur d’avance</h3>
    <p>1. Valider une stratégie de développement en phase avec les valeurs et source de confiance
2. Faire des choix financiers et mettre en place des process autour de l’excellence et de la rigueur pour assurer une image forte
3. Développer un positionnement unique comme « artisans du futur »
4. Passer de la résilience à l’émergence d’innovation porteuse de sens
5. Fidéliser les bons intervenants et les fédérer comme ambassadeurs de la marque
6. Créer des ponts entre les partenaires existants et de nouveaux partenaires locaux et internationaux </p>
      <p>Faire des choix financiers dans le respect des valeurs</p>
      <p>Developper un positionnement unique et une marque forte autour de l’innovation pédagogique</p>
      <p>Entretenir les partenariats fondateurs et en ouvrir de nouveaux</p>Entretenir les partenariats fondateurs et en ouvrir de nouveaux
      <p>Passer de la résilience à la re-création de sens</p>
      <p>Créer des ponts à l’international</p>
</p>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Pour donner au lieu sa dimension internationale et faire de thecamp le modèle de l’éducation et de la formation de demain vers une société plus juste</p>
  </div>
</div>




<div class="bgimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"> IN Progress </span>
  </div>
</div>


<div class="bgimg-1">
  <div class="caption">
    <span class="border">END </span>
  </div>
</div>
